{'oiclass': {'info': {'username': '', 'password': '', 'uid': ''}, 'problems': [{'pname': 'demo', 'code': 'demo'}]}, 'hydro':{'info': {'username': '', 'password': '', 'uid': ''}, 'problems': [{'pname': 'demo', 'code': 'demo'}]}}