{'oiclass': {'info': {'username': '', 'password': '', 'uid': ''}, 'problems': [{'pname': 'demo', 'code': 'demo'}]}, 'luogu': {'info': {'username': '', 'uid': '', 'password': ''}, 'problems': [{'pname': '', 'code': ''}]}}